@model EntityLayer.Sale

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Factura</title>
    <link rel="stylesheet" href="~/Content/invoce.css">
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                Mimados
                                @*<img src="https://www.sparksuite.com/images/logo.png" style="width: 100%; max-width: 300px" />*@
                            </td>

                            <td id="Arigth">
                                Factura: #@Html.DisplayFor(s => s.Id)<br />
                                Fecha: @Html.DisplayFor(s => s.TimeStamp)
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td style="width:50%">
                                <b>@Html.DisplayFor(s => s.Employee.BranchOffice.Name)<br /></b>
                                @if (Model.Employee.BranchOffice.Phones.Count == 1)
                                {
                                    @Html.DisplayFor(s => s.Employee.BranchOffice.Phones[0].PhoneNumber)
                                }
                                @if (Model.Employee.BranchOffice.Phones.Count >= 2)
                                {
                                    @Html.DisplayFor(s => s.Employee.BranchOffice.Phones[0].PhoneNumber)
                                    @Html.Label(" / ")
                                    @Html.DisplayFor(s => s.Employee.BranchOffice.Phones[1].PhoneNumber)
                                }
                                @Html.DisplayFor(s => s.Employee.BranchOffice.Address)<br />
                                Atendido por: <br />
                                @Html.DisplayFor(s => s.Employee.Name) @Html.DisplayFor(s => s.Employee.SurName)
                            </td>

                            <td id="Arigth" style="width:50%">
                                Nombre: @Html.DisplayFor(s => s.Customer.Name) @Html.DisplayFor(s => s.Customer.SurName)<br />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>

        <table cellpadding="0" cellspacing="0">

            <tr class="heading">

                <td>Cantidad</td>
                <td width="45%">Producto</td>
                <td>Precio Unitario</td>
                <td id="Arigth">Total</td>

            </tr>

            @{
                foreach (var item in Model.SaleDetails)
                {
                    @: <tr class="details">
                        <td>@Html.DisplayFor(modelItem => item.Quantity)<br /></td>
                        <td>@Html.DisplayFor(modelItem => item.Product.Name)<br /></td>
                        <td>@Html.DisplayFor(modelItem => item.StringSalePrice)<br /></td>
                        <td id="Arigth">@Html.DisplayFor(modelItem => item.StringTotal)<br /></td>
                    }
            }

        <tr class="details">
            <td></td>
            <td></td>
            <td></td>
            <td id="Arigth">
                <b>Subtotal: @Html.DisplayFor(s => s.StringSubTotal)</b> <br />
                <b>Impuesto: @Html.DisplayFor(s => s.StringTaxes)</b> <br />
                <b>Total: @Html.DisplayFor(s => s.StringTotal)</b> <br />
            </td>
        </tr>

        </table>

        <p id="Note">precios incluyen impuesto de venta</p>

    </div>
    
</body>
</html>