<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mimados - @ViewBag.Title</title>
    <link rel="icon" href="~/Content/sb-admin-2/img/paw-solid.svg" />
    <script src="https://kit.fontawesome.com/a3e333e3a2.js" crossorigin="anonymous"></script>

    <!-- Custom fonts for this template-->
    @Styles.Render("~/Content/sb-admin")

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center"
                href="@Url.Action("Index", "Home")">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-paw"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Mima<sup>2</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li id="nav-Dashboard" class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Home")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Tablero</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - BranchOffice -->
            <li id="nav-BranchOffice" class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "BranchOffice")">
                    <i class="fas fa-fw fa-building"></i>
                    <span>Sucursales</span>
                </a>
            </li>

            <!-- Nav Item - Employee -->
            <li id="nav-Employee" class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Employee")">
                    <i class="fas fa-user-tie"></i>
                    <span>Empleados</span>
                </a>
            </li>

            <!-- Nav Item - Products -->
            <li class="nav-item" id="CollapseMenuProducts">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFive"
                    aria-expanded="true" aria-controls="collapseFive">
                    <i class="fa-solid fa-fw fa-boxes-stacked"></i>
                    <span>Producto</span>
                </a>
                <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a id="CollapseMenuItemProduct" class="collapse-item" href="@Url.Action("Index", "Product")">
                            <i class="fa-solid fa-fw fa-box-open"></i>
                            <spam>Productos</spam>
                        </a>
                        <a id="CollapseMenuItemCategory" class="collapse-item"
                            href="@Url.Action("Index", "ProductCategory")">
                            <i class="fa-solid fa-fw fa-shapes"></i>
                            <spam>Categorias</spam>
                        </a>
                        <a id="CollapseMenuItemBrand" class="collapse-item" href="@Url.Action("Index", "ProductBrand")">
                            <i class="fa-solid fa-fw fa-certificate"></i>
                            <spam>Marcas</spam>
                        </a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Pages Collapse Menu - Supplier -->
            <li class="nav-item" id="CollapseMenuSupplier">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSix"
                    aria-expanded="true" aria-controls="collapseSix">
                    <i class="fa-solid fa-fw fa-parachute-box"></i>
                    <span>Compra</span>
                </a>
                <div id="collapseSix" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a id="CollapseMenuItemSupplier" class="collapse-item" href="@Url.Action("Index", "Supplier")">
                            <i class="fas fa-dolly"></i>
                            <spam>Proveedores</spam>
                        </a>
                        <a id="CollapseMenuItemPurchase" class="collapse-item" href="@Url.Action("Index", "Purchase")">
                            <i class="fa-solid fa-fw fa-bag-shopping"></i>
                            <spam>Comprar</spam>
                        </a>
                        <a id="CollapseMenuItemHistoryPurchase" class="collapse-item"
                            href="@Url.Action("PurchaseHistory", "Purchase")">
                            <i class="fa-solid fa-fw fa-file-invoice-dollar"></i>
                            <spam>Historial</spam>
                        </a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Customer -->
            <li id="nav-Customer" class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Customer")">
                    <i class="fa-solid fa-people-group"></i>
                    <span>Clientes</span>
                </a>
            </li>

            <!-- Nav Item - Pages Collapse Menu - Sales -->
            <li class="nav-item" id="CollapseMenuSales">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSeven"
                    aria-expanded="true" aria-controls="collapseSeven">
                    <i class="fa-solid fa-fw fa-piggy-bank"></i>
                    <span>Venta</span>
                </a>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a id="CollapseMenuItemSales" class="collapse-item" href="@Url.Action("Index", "Sale")">
                            <i class="fa-solid fa-fw fa-cash-register"></i>
                            <spam>Facturar</spam>
                        </a>
                        <a id="CollapseMenuItemHistorySale" class="collapse-item"
                            href="@Url.Action("SaleHistory", "Sale")">
                            <i class="fa-solid fa-fw fa-file-invoice-dollar"></i>
                            <spam>Historial</spam>
                        </a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - User -->
            <li id="nav-User" class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "User")">
                    <i class="fa-solid fa-user-astronaut"></i>
                    <span>Usuarios</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Steven Mendez</span>
                                <img class="img-profile rounded-circle"
                                    src="~/Content/sb-admin-2/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar sesión
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    @RenderBody()

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Mimados @DateTime.Now.Year <i class="fas fa-paw"></i> </span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Listo para salir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Seleccione "Cerrar sesión" a continuación si está listo para finalizar su sesión
                    actual.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    @Scripts.Render("~/bundles/sb-admin")
    @RenderSection("scripts", required: false)
</body>

</html>